<if condition="'[value]' != '[val'.'ue]'">
	<php>$__value = "[value]";</php>
	<if condition="isset($$__value) or $$__value === null">
		<php>$__value = $$__value;</php>
	</if>

	<else/>
	<php>$__value = '';</php>
</if>

<if condition="'[item]' != '[it'.'em]'">
	<php>$__item = "[item]";</php>
</if>

<select name="{$$__item->name}" lay-verify="[verify]" lay-search="" class="[class]">
	<option value="">可搜索选择</option>
	<php>$option = $$__item->option;</php>
	<foreach name="$option" item="optionItem" key="optionKey">
		<php>$selValue = $__value;</php>
		<option value="{$optionKey}" <if $selValue === $optionKey>selected</if>>{$optionItem}</option>
	</foreach>
</select>