<if condition="'[value]' != '[val'.'ue]'">
	<php>$__value = "[value]";</php>
	<if condition="isset($$__value) or $$__value === null">
		<php>$__value = $$__value;</php>
	</if>

	<else/>
	<php>$__value = 0;</php>
</if>

<if condition="'[item]' != '[it'.'em]'">
	<php>$__item = "[item]";</php>
</if>

<input class="[class]" type="checkbox" name="{$$__item->name}" lay-verify="[verify]" lay-skin="switch" lay-filter="switchTest" lay-text="{:end($$__item->option)}|{:reset($$__item->option)}" <if $__value == 1>checked</if>>