<if condition="'[value]' != '[val'.'ue]'">
	<php>$__value = "[value]";</php>
	<if condition="isset($$__value) or $$__value === null">
		<empty name="$$__value">
			<php>$__value = '';</php>
			<else />
			<php>$__value = $$__value;</php>
		</empty>
	</if>

<else/>
	<php>$__value = time();</php>
</if>

<if condition="'[item]' != '[it'.'em]'">
	<php>$__item = "[item]";</php>
</if>

<php>$time = $__value ? date('Y-m-d H:i:s', $__value) : '';</php>
<input type="text" name="{$$__item->name}" placeholder="yyyy-MM-dd" lay-verify="[verify]" autocomplete="off" class="layui-input layui-date [class]" value="{$time}" readonly>