<foreach name="indexShow" item="value" key="key">
	<php>$value = $field[$value];</php>
	<php>$type = $value->type;</php>

	<script type="text/html" id="box-{$value->name}">
		<switch name="$type">
			<case value=":$Item::SW">
				<!--开关单元格-->
				<!--<input type="checkbox" name="sex" value="{{d.{$value->name}}}" lay-skin="switch" lay-text="{:end($value->option)}|{:reset($value->option)}" lay-filter="sw" {{ d.{$value->name} == 1 ? 'checked' : '' }}>-->

				{{#var option = {:json_encode($value->option, JSON_UNESCAPED_UNICODE)};}}
				{{#  if(d.{$value->name} == 1){ }}
					<span class="layui-badge layui-bg-green">{{option[d.{$value->name}]}}</span>
				{{#  } else { }}
					<span class="layui-badge layui-bg-gray">{{option[d.{$value->name}]}}</span>
				{{#  } }}
			</case>

			<case value=":$Item::SELECT">
				<!--选择框单元格-->
				{{#var option = {:json_encode($value->option, JSON_UNESCAPED_UNICODE)};}}
				{{option[d.{$value->name}]}}
			</case>

			<case value=":$Item::TIME">
				<!--时间单元格-->
				{{#  if(d.{$value->name} == null){ }}
					无
				{{#  } else { }}
					{{new Date(d.{$value->name}*1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ").replace(/上午|下午/, "")}}
				{{#  } }}
			</case>
		</switch>
	</script>
</foreach>