<!--弹窗-->
<script src="__PLUGIN__/sweetalert/sweetalert.min.js"></script>
<script src="__PLUGIN__/toastr/toastr.min.js"></script>
<script src="__PLUGIN__/gritter/jquery.gritter.min.js"></script>
<script src="__JSMAIN__"></script>

<!--单选的样式-->
<!--<script src="js/plugins/iCheck/icheck.min.js"></script>-->
<!--<script>-->
	<!--$("input[type=radio].js-radio").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green"});-->
<!--</script>-->

<!--ios风格的checkbox-->
<!--<script src="js/plugins/switchery/switchery.js"></script>-->
<!--<script>-->
	<!--var jsSwitch = {};-->
	<!--var elem = document.querySelectorAll('input[type=checkbox].js-checkbox');-->
	<!--$.each(elem, function(key, item){-->
		<!--if(item.id == ''){-->
			<!--jsSwitch[key] = new Switchery(item);-->
		<!--}else{-->
			<!--jsSwitch[item.id] = new Switchery(item);-->
		<!--}-->
	<!--});-->
<!--</script>-->